.plan_header_whole_sty{
    /*background-color: #4d3179;*/
    background-image: -webkit-linear-gradient(left, #8D6B94 0%, #4d3179 51%, #1e91a4 75%);
}
.plan_adva_whole_sty{
    background-color: #d3f2f3;
    padding-top: 50px;
    /*margin-left: -15px;
    margin-right: -15px;*/
    margin-top: 50px;
}
.plan_adva_context_item1_width{
    width: 170px;
}
.plan_adva_context_item_width{
    width: 170px;
    margin-left: 70px;
}
.plan_adva_context_item_sty{
    border: 1px solid #5b9ba1;
    width: 100%;
}
.plan_adva_whole_sty h4{
    text-align: center;
}
.plan_adva_context_sty{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
}
.plan_adva_context_item_sty img{
    margin-top: 20px;
}
.plan_adva_context_text_sty{
    margin-top: 30px;
    margin-bottom: 50px;
}